.swiper {
    width: 240px;
    height: 320px;
    z-index: 4;
}
  
.swiper-slide {
    border-radius: 20px;
}
  
.swiper-slide:nth-child(1n) {
    background-image: url('../LandingPageComponents/LandingPagePics/motor2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  .swiper-slide:nth-child(2n) {
    background-image: url('../LandingPageComponents/LandingPagePics/imgmotor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .swiper-slide:nth-child(3n) {
    background-image: url('../LandingPageComponents/LandingPagePics/bgGears.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .swiper-slide:nth-child(4n) {
    background-image: url('../LandingPageComponents/LandingPagePics/imgmotor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .swiper-slide:nth-child(5n) {
    background-image: url('../LandingPageComponents/LandingPagePics/imgmotor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .swiper-slide:nth-child(6n) {
    background-image: url('../LandingPageComponents/LandingPagePics/imgmotor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .swiper-slide:nth-child(7n) {
    background-image: url('../LandingPageComponents/LandingPagePics/imgmotor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .swiper-slide:nth-child(8n) {
    background-image: url('../LandingPageComponents/LandingPagePics/imgmotor.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  