/* Custom Toast Loading Styles */
.your-custom-toast-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: #ffffff;
    color: #333333;
    border-radius: 4px;
  }
  
  .your-custom-toast-loading .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4caf50;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
  
  .your-custom-toast-loading p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }




  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  